{{- if .Values.certManager }}
{{- if .Values.certManager.enabled }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ .Values.certManager.issuerName | default "letsencrypt-prod" }}
spec:
  acme:
    server: {{ .Values.certManager.acmeServer | default "https://acme-v02.api.letsencrypt.org/directory" }}
    email: {{ .Values.certManager.email | required "certManager.email is required" }}
    privateKeySecretRef:
      name: letsencrypt-private-key
    solvers:
      - http01:
          ingress:
            class: {{ .Values.ingress.className | default "nginx" }}
{{- end }}
{{- end }}
